.btn1{
background-color: rgb(248, 10, 141);
font-size: 20px;
font-family: cursive;
padding: 2%;
border-radius: 8px;
text-decoration: none;
color: rgb(246, 246, 247);
display:flex;
margin-left: 400px;
margin-right: 400px;
margin-top: 5%;
justify-content: center;
    box-shadow: 0 6px 8px rgba(51, 50, 50, 0.623);
}

.btn1:hover{
    background-color: rgb(112, 15, 15);
        box-shadow: 0 7px 9px rgba(0, 0, 0, 0.623);
     
}

.Bienvenido{
    display: flex;
    justify-content: center;
    margin-top: 16%;
    font-family:cursive;
    font-size: 55px;
}

h2{
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    display: flex;
    justify-content: center;
    font-family:cursive;
    color: aliceblue;
   font-size: 20px;

}

body{
    background-color: rgb(133, 0, 22);
}

.tarjeta{
    background-color: aliceblue;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.623);
    display: block;
    justify-content: center;
    margin-left:388px ;
    margin-right: 388px;
    border-radius: 25px;
    padding-bottom: 2%;
}

h1{
  color: rgb(10, 10, 10);
  font-family: cursive;
  display: flex;
  justify-content: center;
  text-align: center;
}
video{
    display:block;
    margin: auto;
    justify-content: center;
    width: 400px;
   
}
.t{
    background-color: rgb(255, 255, 255);
    display: block;
    border-radius: 25px;
    margin-bottom: 100px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 160px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 0 8px 10px rgba(8, 8, 8, 0.623);
}
p{
    background-color: rgb(255, 255, 255);
    display: block;
    border-radius: 25px;
    margin-bottom: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 0 8px 10px rgba(8, 8, 8, 0.623);
    justify-content: center;
    font-size: 25px;
    text-align:center;
    font-family: cursive;
}


p:hover{
    background-color: rgb(255, 218, 234);
}

.btn{

background-color: rgb(248, 10, 141);
font-size: 20px;
font-family: cursive;
padding: 1%;
border-radius: 15px;
text-decoration: none;
color: rgb(246, 246, 247);
display:flex;
margin-left: 750px;
margin-right: 760px;
margin-top: 1%;

justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.623);
}
.btn:hover{
    background-color: rgb(124, 0, 0);
}

.t2{
    background-color: rgb(248, 248, 248);

    display: block;
    border-radius: 25px;
    margin-bottom: 100px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 0 8px 10px rgba(8, 8, 8, 0.623);
    font-size: 25px;

}

.img1{
width:460px ;
display: block;
margin: auto;

}
.img1:hover{
box-shadow: 0 8px 10px rgba(8, 8, 8, 0.623);
border-color: rgb(255, 255, 255);
border-style: solid;
}


 header>h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
 }
 .f{
    color: rgb(255, 255, 255);
    font-size: 50px;
 }

 audio{
    display: block;
    margin: auto;
    justify-content: center;
    width: 500px;
    padding-bottom: 53px;

 }

 .img2{
    display: inline-block ;
      margin-left: 75px;
       width: 400px;
        margin-bottom: 33px;
       margin-top: 22px;
        border-radius: 55px;
        box-shadow: 0 8px 10px rgba(8, 8, 8, 0.623);
 }
 .img2:hover{
    width: 550px;
    background-color: rgb(255, 255, 255);

 }
 .img3:hover{
     width: 550px;
    background-color: aqua;

 }
  .img4:hover{
     width: 550px;
    background-color: rgb(124, 3, 3);

 }
 .img5:hover{
     width: 550px;
    background-color: rgb(0, 63, 63);

 }

 .img3{
    display:inline-block;
    width: 400px;
   margin-left: 75px;
  margin-top: 22px;
     border-radius: 55px;
     box-shadow: 0 8px 10px rgba(8, 8, 8, 0.623);

 }
  .img4{
    display: inline-block ;
       margin-left:75px;
    width: 400px;
     margin-bottom: 50px;
     margin-top: 22px;
       border-radius: 55px;
       box-shadow: 0 8px 10px rgba(8, 8, 8, 0.623);
 }
  .img5{
    display: inline-block ;
       margin-left:75px;
    width: 400px;
     margin-bottom: 50px;
     margin-top: 22px;
       border-radius: 55px;
       box-shadow: 0 8px 10px rgba(8, 8, 8, 0.623);
 }

.v1{
    display: inline-block;
    margin-left:100px;
    width: 400px;
     margin-bottom: 50px;
     margin-top: 100px;
       border-radius: 55px;
       box-shadow: 0 8px 10px rgba(8, 8, 8, 0.623);
      
 }

